node.ttn
[{"id":"700736c6.17862","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4a08cebe.89a84","type":"ttn app","z":"","appId":"bht_fvm_workshop","accessKey":"ttn-account-v2.NBa-U5hdWoNyMWT169L_-6-u01VzZx4VsiokY9_1tvA","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"68cae112.cf4428","type":"ttn event","z":"700736c6.17862","name":"","app":"4a08cebe.89a84","dev_id":"","event":"#","x":219,"y":128,"wires":[["39fa0d25.43adba"]]},{"id":"21785acf.a96d26","type":"ttn uplink","z":"700736c6.17862","name":"","app":"4a08cebe.89a84","dev_id":"","field":"","x":219,"y":188,"wires":[["a23b0560.d99a7"]]},{"id":"39fa0d25.43adba","type":"debug","z":"700736c6.17862","name":"event","active":true,"console":"false","complete":"true","x":549,"y":128,"wires":[]},{"id":"a23b0560.d99a7","type":"debug","z":"700736c6.17862","name":"uplink","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":549,"y":188,"wires":[]}]
